@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,400;0,500;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
:root {
  --device-width: 800px;
  --large-font: 2em;
  --medium-font: 1.5em;
  --normal-font: 16px;
  --small-font: 13px;
  --black: rgb(16, 16, 16);
  --dark: rgb(64, 64, 64);
  --gray: rgb(128, 128, 128);
  --light: rgb(192, 192, 192);
  --white: rgb(240, 240, 240);
}

body {
  margin: 0 auto;
  background-color: var(--gray);
  max-width: var(--device-width);
  font-family: 'DM Mono', monospace;
}

div, a, p, h1, h2, h3, pre, ul li {
  color: var(--black);
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: var(--normal-font);
  text-rendering: auto;
}

h1 {
  color: var(--light);
  font-weight: 300;
  font-style: italic;
  font-size: var(--large-font);
  letter-spacing: 0.2vmin;
  text-align: center;
  padding: 0 1em;
  padding-bottom: 0.5em;
}

h2 {
  color: var(--light);
  font-size: var(--medium-font);
  text-align: center;
  padding-bottom: 0.5em;
  font-weight: 300;
  text-decoration: underline;
}

p, ul li {
  letter-spacing: 1px;
  line-height: 1.5;
  color: var(--black);
  padding: 0;
  margin: 0 1em;
  padding-bottom: 2em;
}

ul li {
  /* text-decoration: none; */
  list-style-type: circle;
  padding: 0;
  margin: 0;
}

a {
  padding: 0;
  color: var(--white);
  text-decoration: none;
}

.btn-cluster {
  display: flex;
  flex-wrap: wrap;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  margin: 0.5em;
  padding: 0.5em 2em;
  background-color: var(--light);
  border: none;
  text-align: center;
  box-shadow: 0px 2px rgba(0, 0, 0, 0.15);
  flex-basis: 0;
  flex-grow: 1;
}

.btn div {
  font-weight: 500;
  color: white;
}

.btn img {
  width: var(--large-font);
  padding-right: 0.5em;
}

.small {
  margin: auto;
  margin-bottom: 1em;
  width: 12em;
  flex-grow: 2;
}

.btn:hover {
  color: var(--white);
}

form {
  margin: 0 auto;
  padding: 1em;
  margin-bottom: 2em;
}

form li+li {
  margin-top: 1em;
}

.logs {
  background-color: var(--white);
  padding: 1em;
  /* min-height: 42em; */
}

.logs img {
  display: block;
  margin: 0 auto;
}

.logs .controls {
  display: flex;
  /* flex-flow: wrap; */
  justify-content: stretch;
}

.date {
  float: right;
  color: var(--light);
}

img {
  max-width: 100%;
}

video {
  margin: 0 auto;
  display: block;
  padding-bottom: 2em;
  border: none;
  outline: none;
}

.vid {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  margin-bottom: 2em;
}

.vid iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#screenshots {
  display: flex;
  overflow: hidden;
  margin-bottom: 1em;
  padding: 1em 0;
  border-left: 1px solid var(--light);
  border-right: 1px solid var(--light);
  overflow-x: auto;
  scrollbar-color: var(--white);
  flex-flow: nowrap;
  justify-content: left;
}

#screenshots img {
  max-height: 480px;
  margin-right: 0.5em;
  /* box-shadow: 0.1em 0.1em 0.5em rgba(0, 0, 0, 0.25); */
}

#content {
  background-color: var(--white);
  color: black;
  padding: 2em;
}

#content img {
  width: 100%;
}

#gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 2em 0 4em 0;
}

.cover {
  background-position: center;
  background-size: cover;
  /* margin: 0.5em; */
  margin-bottom: 3em;
  width: 49%;
  height: 12em;
  transition: 0.3s;
  display: flex;
  align-items: flex-end;
  box-shadow: 0px 2px rgba(0, 0, 0, 0.15);
}

.cover:hover {
  box-shadow: 0.1em 0.1em 0.5em rgba(255, 255, 255, 0.25);
}

.cover div {
  margin: 0 auto;
  vertical-align: baseline;
  padding: 8px 16px;
  background-color: rgb(255 255 255);
  position: relative;
  top: 28px;
}

.dof {
  margin-bottom: 1em;
  transition: 0.3s;
  width: 49%;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  box-shadow: 0px 2px rgba(0, 0, 0, 0.15);
}

.dof a {
  height: 12em;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.dof pre {
  width: 100%;
  background-color: black;
  color: white;
  padding: 0.5em;
  font-size: 0.75em;
}

.art {
  margin-bottom: 3em;
  transition: 0.3s;
  width: 49%;
  display: flex;
  align-items: flex-start;
  box-shadow: 0px 2px rgba(0, 0, 0, 0.15);
}

.art div {
  margin: 0 auto;
  vertical-align: baseline;
  padding: 8px 16px;
  background-color: rgb(255 255 255);
  position: relative;
  top: -28px;
  right: 100%;
}

.art div a {
  color: rgb(170 175 255);
}

#nav {
  margin: 1em;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  padding: 0;
  user-select: none;
  cursor: pointer;
}

#nav a {
  margin: auto 0;
  /* padding: 0.5em 1em; */
  font-weight: bold;
  /* border-bottom: 1px solid rgb(148, 148, 148); */
}

#nav svg {
  fill: var(--light);
  stroke: var(--light);
  stroke-width: 0;
}

#nav a:first-of-type {
  padding: 0;
  background-image: url(/res/small-icon.png);
  width: 32px;
  height: 32px;
  background-size: contain;
  border: none;
}

#footer {
  font-family: monospace;
  font-size: var(--small-font);
  text-align: center;
  margin-bottom: 1em;
  margin-top: 6em;
  color: var(--dark);
}

#time {
  font-family: monospace;
  text-align: right;
  font-size: var(--small-font);
  color: var(--dark);
  margin: 0.5em;
  position: absolute;
  right: 0;
  /* display: none; */
}

#logo {
  display: block;
  margin: auto;
  margin-bottom: 1em;
  width: 40%;
}

#Contacts {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.Contact {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  /* box-shadow: 0px 2px rgba(0, 0, 0, 0.15); */
  margin-bottom: 1em;
  width: 49%;
  height: 128px;
  border: 1px solid rgb(148, 148, 148);
}

.profile-pic {
  width: 100px;
  height: 100px;
  background-position: center;
  background-size: cover;
  margin-left: 1em;
  /* flex-grow: 1; */
}

.Info {
  flex-grow: 1;
  padding: 1.5em;
  font-size: var(--small-font);
  display: flex;
  flex-flow: column;
}

.Info div {
  font-size: var(--small-font);
}

.break {
  flex-basis: 100%;
  height: 0;
}

.Info a {
  color: var(--dark);
  font-size: var(--small-font);
  font-weight: normal;
  border-radius: 2em;
}

.Info a:hover {
  text-decoration: underline;
}

.strip {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 2em;
  flex-wrap: wrap;
}

.strip img {
  flex-grow: 0;
}

.strip>div {
  flex-grow: 1;
  margin: 0em 1em;
  padding: 0;
}

.disabled {
  color: gray;
}

.disabled div {
  color: gray;
}

.pxgviewer {
  height: 750px;
  width: 1000px;
  max-width: 100%;
}

.split {
  border-bottom: 2px solid;
  border-image-source: linear-gradient(90deg, rgb(128, 128, 128), rgb(192, 192, 192), rgb(128, 128, 128));
  border-image-slice: 1;
}

#fdeg {
  /* height: 6em; */
  margin: 1em auto;
  font-family: "Nanum Myeongjo", serif;
  text-align: center;
  font-size: 6em;
  /* background: linear-gradient(white, red, yellow, green, cyan, blue, magenta, white); */
  background: url("200_s.gif");
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* background-size: 100% 30%; */
  background-size: contain;
  /* animation-name: shimmer;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: white; */
}

@keyframes shimmer {
  0% {
    background-position: bottom;
  }
  100% {
    background-position: top;
  }
}

p a {
  color: var(--black);
  text-decoration: underline;
}

/* #mission {
  height: 95vh;
} */

/* #mission p {
  text-indent: 22em;
} */

.noSelect {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.active svg {
  fill: white !important;
}

@media only screen and (max-width: 600px) {
  #logo {
    width: 66%;
  }
  .dof {
    width: 100%;
  }
  .art {
    width: 100%;
  }
  .cover {
    width: 100%;
  }
  .Contact {
    width: 100%;
    border: none;
  }
  /* #mission p {
    text-indent: 0;
  } */
  /* #mission {
    height: 100vh;
  } */
}