@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,400;0,500;1,300&display=swap');
:root {
  --device-width: 800px;
  --large-font: 2em;
  --medium-font: 1.5em;
  --normal-font: 1em;
  --small-font: 0.8em;
  --black: rgb(16, 16, 16);
  --dark: rgb(64, 64, 64);
  --gray: rgb(128, 128, 128);
  --light: rgb(192, 192, 192);
  --white: rgb(240, 240, 240);
}

body {
  margin: 0 auto;
  background-color: var(--gray);
  max-width: var(--device-width);
  font-family: 'DM Mono', monospace;
}

div, a, p, h1, h2, h3, pre, ul li {
  color: var(--black);
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: var(--normal-font);
  text-rendering: auto;
}

h1 {
  color: var(--light);
  font-weight: 300;
  font-style: italic;
  font-size: var(--large-font);
  letter-spacing: 0.2vmin;
  text-align: center;
  padding-bottom: 0.5em;
}

h2 {
  color: var(--light);
  font-size: var(--medium-font);
  text-align: center;
  padding-bottom: 0.5em;
  font-weight: 300;
  text-decoration: underline;
}

p, ul li {
  letter-spacing: 1px;
  line-height: 1.5;
  color: var(--black);
  padding: 0;
  margin: 0 1em;
  padding-bottom: 2em;
}

ul li {
  /* text-decoration: none; */
  list-style-type: circle;
  padding: 0;
  margin: 0;
}

a {
  padding: 0;
  color: var(--white);
  text-decoration: none;
}

.btn-cluster {
  display: flex;
  flex-wrap: wrap;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  margin: 0.5em;
  padding: 0.5em 2em;
  background-color: var(--light);
  border: none;
  text-align: center;
  box-shadow: 0px 2px rgba(0, 0, 0, 0.15);
  flex-grow: 1;
}

.btn div {
  font-weight: 500;
  color: white;
}

.btn img {
  width: var(--large-font);
  padding-right: 0.5em;
}

.small {
  margin: auto;
  margin-bottom: 1em;
  width: 12em;
  flex-grow: 2;
}

.btn:hover {
  color: var(--white);
}

form {
  margin: 0 auto;
  padding: 1em;
  margin-bottom: 2em;
}

form li+li {
  margin-top: 1em;
}

.logs {
  background-color: var(--white);
  padding: 1em;
  /* min-height: 42em; */
}

.logs img {
  display: block;
  margin: 0 auto;
}

.logs .controls {
  display: flex;
  /* flex-flow: wrap; */
  justify-content: stretch;
}

.date {
  float: right;
  color: var(--light);
}

img {
  max-width: 100%;
}

video {
  margin: 0 auto;
  display: block;
  padding-bottom: 2em;
  border: none;
  outline: none;
}

#screenshots {
  display: flex;
  overflow: hidden;
  margin-bottom: 1em;
  padding: 1em 0;
  border-left: 1px solid var(--light);
  border-right: 1px solid var(--light);
  overflow-x: auto;
  scrollbar-color: var(--white);
  flex-flow: nowrap;
  justify-content: left;
}

#screenshots img {
  max-height: 480px;
  margin-right: 0.5em;
  /* box-shadow: 0.1em 0.1em 0.5em rgba(0, 0, 0, 0.25); */
}

#content {
  background-color: var(--white);
  color: black;
  padding: 2em;
}

#content img {
  width: 100%;
}

#dofs {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 2em;
}

.dof {
  background-position: center;
  background-size: cover;
  /* margin: 0.5em; */
  margin-bottom: 1.5em;
  width: 49%;
  height: 12em;
  transition: 0.3s;
  display: flex;
  align-items: flex-end;
  box-shadow: 0px 2px rgba(0, 0, 0, 0.15);
}

.dof:hover {
  box-shadow: 0.1em 0.1em 0.5em rgba(255, 255, 255, 0.25);
}

.dof div {
  width: 100%;
  margin: 0 auto;
  vertical-align: baseline;
  padding: 6px 24px;
  background-color: rgba(255, 255, 255, 0.75);
}

#nav {
  margin: 0.5em;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

#nav div {
  padding: 0;
}

#nav svg {
  padding: 0.25em 0.5em;
  fill: var(--black);
}

#footer {
  font-size: var(--small-font);
  text-align: center;
  margin-bottom: 1em;
  margin-top: 6em;
  color: var(--dark);
}

#time {
  font-family: monospace;
  text-align: right;
  font-size: var(--small-font);
  color: var(--dark);
  margin: 0.5em;
  position: absolute;
  right: 0;
  /* display: none; */
}

#logo {
  display: block;
  margin: auto;
  margin-bottom: -3em;
  margin-top: -2em;
  width: 50%;
}

#Contacts {
  display: flex;
  /* flex-flow: wrap; */
  margin-bottom: 2em;
  justify-content: space-around;
}

.Contact {
  vertical-align: bottom;
  width: 300px;
  height: 300px;
  /* margin: 1em; */
  background-position: center;
  background-size: cover;
  /* box-shadow: 0.1em 0.1em 0.5em rgba(255, 255, 255, 0.25); */
  position: relative;
  transition: 0.3s;
  box-shadow: 0px 2px rgba(0, 0, 0, 0.15);
}

.Info {
  background-color: rgba(255, 255, 255, 0.75);
  color: var(--white);
  position: absolute;
  bottom: 0;
  padding: 0.5em 0;
  left: 0;
  right: 0;
  text-align: center;
  transition: 0.3s;
  font-size: var(--small-font);
  line-height: 1.5;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.Info div {
  font-weight: 500;
}

.Info a {
  color: var(--dark);
  font-size: var(--small-font);
  font-weight: normal;
  padding: 0.25em 0.5em;
  /* background-color: var(--gray); */
  transition: 0.3s;
  /* border: 2px solid var(--white); */
  border-radius: 2em;
}

.Info a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  #logo {
    width: 66%;
  }
  .dof {
    width: 100%;
  }
  .Contact {
    width: 180px;
    height: 180px;
  }
}

.strip {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 2em;
  flex-wrap: wrap;
}

.strip img {
  flex-grow: 0;
}

.strip>div {
  flex-grow: 1;
  margin: 0em 1em;
  padding: 0;
}

.disabled {
  color: gray;
}

.disabled div {
  color: gray;
}